version: "3.7"
services:
  rabbitmq:
    image: docker.io/rabbitmq:3.11.11-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_PLUGINS_DIR: "/opt/rabbitmq/plugins:/usr/lib/rabbitmq/plugins"
    volumes:
      - ./_rabbit/enabled_plugins:/etc/rabbitmq/enabled_plugins
      - ./_rabbit/plugins:/usr/lib/rabbitmq/plugins

  elasticmq: # Drop-in SQS replacement
    image: docker.io/softwaremill/elasticmq-native:1.5.7
    ports:
      - "9324:9324"
      - "9325:9325"

  redis:
    image: docker.io/redis:7
    ports:
      - "6379:6379"

  redis-cluster:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
      REDIS_CLUSTER_CREATOR: "yes"
      REDIS_CLUSTER_REPLICAS: "1"
    ports:
      - "6380:6379"
    depends_on:
      - redis-cluster-node-0
      - redis-cluster-node-1
      - redis-cluster-node-2
      - redis-cluster-node-3
      - redis-cluster-node-4

  redis-cluster-node-0:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
    ports:
      - "6381:6379"

  redis-cluster-node-1:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
    ports:
      - "6382:6379"

  redis-cluster-node-2:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
    ports:
      - "6383:6379"

  redis-cluster-node-3:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
    ports:
      - "6384:6379"

  redis-cluster-node-4:
    image: docker.io/bitnamilegacy/redis-cluster:7.0
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
      REDIS_NODES: "redis-cluster redis-cluster-node-0 redis-cluster-node-1 redis-cluster-node-2 redis-cluster-node-3 redis-cluster-node-4"
    ports:
      - "6385:6379"

  redis-sentinel:
    image: docker.io/redis:7
    ports:
      - "26379:26379"
    command: >
      sh -c 'echo "bind 0.0.0.0" > /etc/sentinel.conf &&
            echo "sentinel monitor master0 redis-master-0 6379 2" >> /etc/sentinel.conf &&
            echo "sentinel resolve-hostnames yes" >> /etc/sentinel.conf &&
            echo "sentinel down-after-milliseconds master0 10000" >> /etc/sentinel.conf &&
            echo "sentinel failover-timeout master0 10000" >> /etc/sentinel.conf &&
            echo "sentinel parallel-syncs master0 1" >> /etc/sentinel.conf &&
            redis-sentinel /etc/sentinel.conf'

  redis-master-0:
    image: docker.io/redis:7
    ports:
      - "6387:6379"

  redis-replica-0:
    image: docker.io/redis:7
    ports:
      - "6388:6379"
    command:
      [
        "redis-server",
        "--appendonly",
        "yes",
        "--replicaof",
        "redis-master-0",
        "6379",
        "--repl-diskless-load",
        "on-empty-db",
        "--protected-mode",
        "no"
      ]

  gcp-pubsub:
    image: gcr.io/google.com/cloudsdktool/google-cloud-cli:emulators
    ports:
      - "8085:8085"
    command: [
      "gcloud", "beta", "emulators", "pubsub", "start",
      "--project", "local-project",
      "--host-port", "0.0.0.0:8085"
    ]

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    ports:
     - "10001:10001"
