name: Lint

env:
  CARGO_TERM_COLOR: always

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-versions:
    name: Library Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable, beta]
    steps:
    - uses: actions/checkout@master

    - uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
        components: clippy, rustfmt

    - uses: Swatinem/rust-cache@v1

    - name: Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings

    - name: rustfmt
      run: cargo fmt -- --check

    - name: Start test dependencies
      run: docker-compose -f "./testing-docker-compose.yml" up -d

    - name: Run tests
      env:
        AWS_DEFAULT_REGION: localhost
        AWS_ACCESS_KEY_ID: x
        AWS_SECRET_ACCESS_KEY: x
      run: cargo test --all-features

    - name: Stop test dependencies
      run: docker-compose -f "./testing-docker-compose.yml" down

  typos:
    name: Check for typos
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: crate-ci/typos@v1.18.0
